/* styles.module.css */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #007bff;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    border-color: #0056b3;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card p {
    margin: 0;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  